[Desktop Entry]
Version=1.0
Type=Application
Name=ThermalNexus Command Center
Comment=ML Algorithmic Physics cooling system & Dashboard
Exec=bash -c "pkexec /media/skc/New\\ Volume/Dev\\ Vault/ThermNexus/bash_scripts/thermalnexus-start.sh & cd '/media/skc/New Volume/Dev Vault/ThermNexus/dashboard' && npm run start"
Icon=utilities-system-monitor
Terminal=false
Categories=System;Utility;HardwareSettings;
StartupNotify=true
